/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.row .new_user_signup {
  margin: 0 auto;
  max-width: 500px;
}

.row .user_login {
  margin: 0 auto;
  max-width: 500px;
}

.row .forgot_password {
  margin: 0 auto;
  max-width: 500px;
}

.row .edit_user {
  margin: 0 auto;
  max-width: 500px;
}

.row .new_league_record {
  margin: 0 auto;
  max-width: 500px;
}

.row .new_baseball_stats {
  margin: 0 auto;
  max-width: 500px;
}

.row {
  max-width: none;
}

.top-bar {
  background-color: rgba(25, 144, 75, 0.8);
}

.top-bar .name {
  margin-left: 10px;
  font-size: 30px;
  color: white;
}

.top-bar .title-area {
  margin-top: -3px;
}

.login_section {
  float: right;
  margin-right: 15px;
  color: white;
}

.login_section a {
  color: white;
}

.email_address {
  margin-right: 10px;
}

body {
  text-align: center;
  font-family: 'Lato', sans-serif;
  /*background-color: rgba(236, 240, 241,1.0);*/
}

h1 {
  font-size: 45px;
}

.button {
  background-color: rgba(0, 0, 0, 0.72);
}

.button:hover {
  background-color: rgba(25, 144, 75, 0.8);
}

.sports_buttons {
  margin-top: 45px;
}

.left_body_menu {
  min-height: 1000px;
  background-color: rgba(25, 144, 75, 0.8);
  color: white;
  padding: 10px;
}

.side_options {
  margin-top: 25px;
  list-style-type: none;
}

.side_option_line {
  margin-top: 10px;
}

.content_box {
  height: 100%;
  position: relative;
}

.sport_images {
  margin-top: 15px;
}

.elders {
  margin-top: 50px;
}

.elder_headers {
  float: left;
}

.elder_leagues {
  float: left;
  margin-right: 10px;
}

.title_container {
  margin-right: -500px;
  margin-top: 50px;
}

.green_bar {
  height: 20px;
  background-image: linear-gradient(
    to right,
    rgba(25, 144, 75, 0.8), white);
}

.row .feature_demos {
  margin-top: 150px;
}

.feature_image {
  margin-top: 20px;
  max-width: 70%;
}

.main_graph_image {
  margin-top: 100px;
  max-width: 80%;
}

table {
  margin: 0 auto;
}

.format_info {
  position: relative;
  height: 100%;
  margin-top: 40px;
}

.league_formats {
  list-style-type: none;
  font-style: italic;
  min-height: 100px;
  position: relative;
}

.rules_links {
  font-size: 12px;
  padding-top: 4px;
  padding-right: 10px;
  float: right;
}

.scoring_category {
  float: left;
}

.row .notes_row {
  margin-top: 40px;
  margin-left: 115px;
}

.league_notes {
  font-style: italic;
  min-height: 100px;
}


/*new league form*/

.new_league_content {
  margin-top: 50px;
}

.new_league_form {
  max-width: 500px;
  margin: 0 auto;
}

.row .id_instructions {
  margin-top: 25px;
  margin-right: 25px;
}

.powered_by {
  margin-top: 10px;
}


